:root {
  --background: #2c3e50;
  --gridfg: #ecf0f1;
  --grid: #34495e;
  --dot: #2980b9;
  --dotExpected: #f1c40f;
}

body {
  background: var(--background);
  color: var(--gridfg);
}

.App__textarea-container {
  margin: 20px auto;
  width: 500px;
  max-width: 100%;
  text-align: center;
}

textarea {
  background: var(--gridfg);
  color: var(--background);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  outline: none;
  border: none;
  width: 500px;
  max-width: 100%;
  padding: 20px;
  margin: 20px auto;
  font-size: 14px;
  min-height: 150px;
  min-width: 150px;
  line-height: 1.5;
  border-radius: 4px;
  display: block;
}

.App__header {
  margin: 10px auto 40px;
  width: 300px;
  max-width: 100%;
}

.App__credits, .App__note {
  font-size: 12px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 20px 0;
}

a {
  color: var(--dotExpected);
  text-decoration: none;
}

.App__title {
  font-size: 48px;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
}

button {
  background: var(--dot);
  color: var(--gridfg);
  padding: 10px 15px;
  font-size: 16px;
  border: 0;
  outline: 0;
  display: inline-block;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  border-radius: 4px;
}